body{
    font-family: "Poppins", sans-serif !important;
}
.logo{
  color: transparent;
  background: linear-gradient(#094374, #1e949e);
  -webkit-background-clip: text;
}

.bg-gred{
  background-color: #094374;
}

.text-lblue{
  color: #1e949e;
}

.text-blue{
  color: #094374;
}
nav{
  background-color: white;
}
.bg-lblue{
  background-color: #094374 !important;
}
.navbar-nav a{
  font-size: 13px;
}

.nav-link.active{
  color: #1e949e !important;
}

.hero-sec {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: heroSlider 10s infinite;
}

/* Background animation */
@keyframes heroSlider {
  0% {
    background-image: url("./assets/hero-image.jpg");
  }
  33.33% {
    background-image: url("./assets/hero-image1.jpg");
  }
  66.66% {
    background-image: url("./assets/hero-image2.jpg");
  }
  100% {
    background-image: url("./assets/hero-image3.jpg");
  }
}


.layer{
  background-color: #0000004f;
}

.gred-area{
   background: linear-gradient(90deg, #094374, #1e949e36)
}

.gred-bg{
  background-image: url("https://web.creativemox.com/nutekno/wp-content/uploads/sites/8/2025/10/dot_map_2.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-body{
  background-color: #094374;
  color: white;
  i{
    color: #094374;
  }
  .card-bottom{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
.card-top{
  background-color: #094374c4;
}
.card-body{
  background-image: url("https://web.creativemox.com/nutekno/wp-content/uploads/sites/8/2025/10/bg_img_2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}